p{
    color: red;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: 5px solid purple;
}
h1{
    color: blue;
    background-color: turquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border: 2px solid violet;
}
button{
    color: green;
    background-color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    border: 1px solid yellow;
}