h1{
    color: red;
    background-color: blue;
}
h3{
    color: red;
    background-color: blue;
}
p{
    color: blue;
    background-color: red;
}
button{
    width: 77px;
    height: 77px;
    border: 4px solid red;
}