#div1{
    width: 200px;
    height: 200px;
    color: rgb(255, 0, 0);
}

#div2{
    width: 200px;
    height: 200px;
    color: rgb(0, 255, 0);
}

#div3{
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 255);
}