.div1 {
    height: 200px;
    width: 200px;
    color: #FF0000;
}

.div2 {
    height: 200px;
    width: 200px;
    color: #00FF00;
}

.div3{
    height: 200px;
    width: 200px;
    color: #0000FF;
}