@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Epilogue", sans-serif;
}

#nav{
    display: flex;
    margin: 30px;
}

.l1{
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 600;
    color: hsl(0, 0%, 41%);
}

#sign{
    display: flex;
    margin-left: 750px;
    gap: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 41%);
}

#n1{
    display: flex;
}

.l2{
    list-style: none;
}

#sign button{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: hsl(0, 0%, 41%);;
    font-weight: 600;
}

ul{
    font-size: 14px;
}

#n1 img{
    height: 30px;
    width: auto;
    margin-top: 10px;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin: 90px;
}

.heroimg{
    height: 600px;
}

#hero h1{
    font-size: 100px;
}

#hero p{
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    width: 450px;
    line-height: 1.4;
}

#hero button{
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 160px;
    height: 55px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    margin-top: 40px;
}

.imgs{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.imgs1{
    height: 20px;
    width: auto;
}

.imgs2{
    height: 50px;
}