#hello{
    color: blue;
    font-size: 20px;
}

#bye{
    color: red;
    font-size: 10px;
}

#first{
    color: purple;
    font-size: 14px;
}

#second{
    color: cyan;
    font-size: 40px;
}

#third{
    color: pink;
    font-size: 33px;
}