.first4 {
    color: red;
    font-size: 20px;
    background-color: purple;
}

.second4{
    color: blue;
    font-size: 50px;
    background-color: yellow;
}

.third4{
    color: pink;
    font-size: 30px;
    background-color: green;
}

.same {
    border: 2px solid darkred;
}