@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In+GDL&family=Faculty+Glyphic&display=swap');


li:hover{
    background-color: blue;
    text-transform: uppercase;
    font-family: "Faculty Glyphic", sans-serif;

}