button{
    color: blue;
    font-size: 50px;
    text-align: center;
}
p{
    color: gray;
    background-color: blue;
    border: 1px solid yellow;
    text-align: right;
}
h4{
    color: red;
    border: 1px solid yellowgreen;
    border-radius: 3px;
    text-align: left;
}