@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In+GDL&family=Faculty+Glyphic&display=swap');

h1{
    font-family: "Faculty Glyphic", sans-serif;
    text-shadow: 0px 2px 4px lime;
}