@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In+GDL&family=Faculty+Glyphic&display=swap');

h1{
    font-family: "Betania Patmos In GDL", cursive;
}

p{
    font-family: "Faculty Glyphic", sans-serif;
}