@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.qoute-text{
    font-family: "Faculty Glyphic", sans-serif;
}

.author{
    font-family: "Montserrat", sans-serif;
}