.card{
    width:200px;
    height:250px;
    background:white;
    border-radius:15px;
    box-shadow:0 0 10px gray;
    transition:1s;
}

.card:hover{
    transform: scale(1.5) rotate(10deg) translateY(-30px);
}