.parent{
    width:600px;
    height:400px;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: url("Software-code-article-image.jpg") center / cover no-repeat;
}

.child{
    width:250px;
    height:200px;
    border-radius:20px;
    background: url("Software-code-article-image.jpg") center / cover no-repeat;
    box-shadow:0 0 15px black;
}
