.card{
    width:220px;
    padding:20px;
    border:1px solid #ccc;
    transition: transform 0.5s, box-shadow 0.8s;
}

.card:hover{
    transform:translateY(-20px) scale(1.1);
    box-shadow:0 10px 20px rgba(0,0,0,0.4);
}